progress=false
loglevel=info
save-prefix=""
@acpaas-ui:registry=https://nexusrepo.antwerpen.be/repository/npm-all/
@acpaas-ui-widgets:registry=https://nexusrepo.antwerpen.be/repository/npm-all/
@acpfse:registry=https://nexusrepo.antwerpen.be/repository/npm-all/
@digipolis:registry=https://nexusrepo.antwerpen.be/repository/npm-all/
registry=https://nexusrepo.antwerpen.be/repository/npm-all/
